In [239]:
import numpy as np
import pandas as pd

In [240]:
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline , make_pipeline
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.tree import DecisionTreeClassifier

In [241]:
df = pd.read_csv('train-spaceship.csv')
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [242]:
df['TotalExpense'] = df['RoomService'] + df['FoodCourt']+ df['ShoppingMall']+ df['Spa']+ df['VRDeck']

In [243]:
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,TotalExpense
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,0.0
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,736.0
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,10383.0
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,5176.0
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,1091.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,8536.0
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,0.0
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,1873.0
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,4637.0
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,4826.0

In [244]:
df.drop(columns=['PassengerId','Cabin','RoomService','FoodCourt','ShoppingMall','Spa','VRDeck','Name'], inplace = True)

In [245]:
df

,HomePlanet,CryoSleep,Destination,Age,VIP,Transported,TotalExpense
0,Europa,False,TRAPPIST-1e,39.0,False,False,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,True,736.0
2,Europa,False,TRAPPIST-1e,58.0,True,False,10383.0
3,Europa,False,TRAPPIST-1e,33.0,False,False,5176.0
4,Earth,False,TRAPPIST-1e,16.0,False,True,1091.0
...,...,...,...,...,...,...,...
8688,Europa,False,55 Cancri e,41.0,True,False,8536.0
8689,Earth,True,PSO J318.5-22,18.0,False,False,0.0
8690,Earth,False,TRAPPIST-1e,26.0,False,True,1873.0
8691,Europa,False,55 Cancri e,32.0,False,False,4637.0
8692,Europa,False,TRAPPIST-1e,44.0,False,True,4826.0

In [246]:
X_train, X_test, Y_train, Y_test = train_test_split(df.drop(columns = ['Transported']), df['Transported'], random_state = 1)

In [247]:
X_train

     HomePlanet CryoSleep  Destination   Age    VIP  TotalExpense
1554      Earth      True  55 Cancri e  28.0  False           0.0
5941      Earth     False  55 Cancri e  12.0  False           NaN
4194       Mars     False  TRAPPIST-1e  27.0  False        1021.0
7837      Earth      True  TRAPPIST-1e   2.0  False           0.0
1232     Europa      True  55 Cancri e  40.0  False           0.0
...         ...       ...          ...   ...    ...           ...
2895       Mars     False  TRAPPIST-1e  38.0  False        1504.0
7813     Europa     False  TRAPPIST-1e  39.0  False           NaN
905       Earth     False  TRAPPIST-1e  24.0  False           NaN
5192       Mars      True  TRAPPIST-1e  47.0  False           0.0
235       Earth     False  TRAPPIST-1e  30.0  False        1571.0

[6519 rows x 6 columns]

In [248]:
X_train.isnull().sum()

HomePlanet      154
CryoSleep       161
Destination     135
Age             139
VIP             150
TotalExpense    689
dtype: int64

In [249]:
X_train['HomePlanet'].count()

6365

In [250]:
trf1 = ColumnTransformer([
    ('age_inpute', SimpleImputer(), [3]),
    ('Total_expense', SimpleImputer(), [5]),
    ('Home_planet', SimpleImputer(strategy = 'most_frequent'), [0]),
    ('Cryo_Sleep', SimpleImputer(strategy = 'most_frequent'), [1]),
    ('Destination', SimpleImputer(strategy = 'most_frequent'), [2]),
    ('Vip_1', SimpleImputer(strategy = 'most_frequent'), [4])
])

In [251]:
X_train

     HomePlanet CryoSleep  Destination   Age    VIP  TotalExpense
1554      Earth      True  55 Cancri e  28.0  False           0.0
5941      Earth     False  55 Cancri e  12.0  False           NaN
4194       Mars     False  TRAPPIST-1e  27.0  False        1021.0
7837      Earth      True  TRAPPIST-1e   2.0  False           0.0
1232     Europa      True  55 Cancri e  40.0  False           0.0
...         ...       ...          ...   ...    ...           ...
2895       Mars     False  TRAPPIST-1e  38.0  False        1504.0
7813     Europa     False  TRAPPIST-1e  39.0  False           NaN
905       Earth     False  TRAPPIST-1e  24.0  False           NaN
5192       Mars      True  TRAPPIST-1e  47.0  False           0.0
235       Earth     False  TRAPPIST-1e  30.0  False        1571.0

[6519 rows x 6 columns]

In [252]:
trf2 = ColumnTransformer(
[
    ('HomePlanet_ohe',OneHotEncoder(sparse = False, handle_unknown = 'ignore', drop = 'first'), [0]),
    ('CryoSleep_ohe',OneHotEncoder(sparse = False, handle_unknown = 'ignore', drop = 'first'), [1]),
    ('Destination_ohe',OneHotEncoder(sparse = False, handle_unknown = 'ignore', drop = 'first'), [2]),
    ('vip_ohe',OneHotEncoder(sparse = False, handle_unknown = 'ignore', drop = 'first'), [4])
]
)

In [1]:
from keras.models import Sequential

In [2]:
model = Sequential()

In [ ]:
model.add(Dense(units = ))

In [253]:
from sklearn.linear_model import LogisticRegression

trf4 = LogisticRegression()

In [254]:
trf3 = DecisionTreeClassifier()

In [255]:
from sklearn.ensemble import RandomForestClassifier

trf6 = RandomForestClassifier(n_estimators = 100)

In [256]:
from sklearn.naive_bayes import GaussianNB

trf5 = GaussianNB()

In [257]:
Pipe = make_pipeline(trf1, trf2,trf6)

In [258]:
Pipe.fit(X_train,Y_train)

Pipeline(steps=[('columntransformer-1',
                 ColumnTransformer(transformers=[('age_inpute', SimpleImputer(),
                                                  [3]),
                                                 ('Total_expense',
                                                  SimpleImputer(), [5]),
                                                 ('Home_planet',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [0]),
                                                 ('Cryo_Sleep',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [1]),
                                                 ('Destination',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [2]),
                                                 ('Vip_1',
                                                  SimpleImputer(stra...
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  [0]),
                                                 ('CryoSleep_ohe',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  [1]),
                                                 ('Destination_ohe',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  [2]),
                                                 ('vip_ohe',
                                                  OneHotEncoder(drop='first',
                                                                handle_unknown='ignore',
                                                                sparse=False),
                                                  [4])])),
                ('randomforestclassifier', RandomForestClassifier())])

In [259]:
X_train.nunique(axis = 0)

HomePlanet         3
CryoSleep          2
Destination        3
Age               79
VIP                2
TotalExpense    1751
dtype: int64

In [260]:
X_test.nunique(axis=0)

HomePlanet        3
CryoSleep         2
Destination       3
Age              74
VIP               2
TotalExpense    808
dtype: int64

In [261]:
Y_test_pred = Pipe.predict(X_test)
Y_test_pred

/opt/conda/envs/anaconda-2022.05-py39/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:170: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(
/opt/conda/envs/anaconda-2022.05-py39/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:170: UserWarning: Found unknown categories in columns [0] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(

array([ True,  True, False, ...,  True,  True,  True])

In [262]:
from sklearn.metrics import accuracy_score

accuracy_score(Y_test, Y_test_pred)

0.5961361545538179

In [263]:
import pickle 
pickle.dump(Pipe, open('pipe_spaceship.pkl', 'wb'))